<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container d-flex h-100 justify-content-center align-items-center">
    <form class="m-auto p-2 w-100" style="max-width: 330px;" action="/login" method="POST">
        <div class="text-center">
            <h1 class="h3 mb-3 font-weight-normal">
                <span class="font-weight-bold">Aluno Online</span>
            </h1>
        </div>
        <% if (error !== '') { %>
        <div class="alert alert-warning" role="alert">
            <%= error %>
        </div>
        <% } %>
        <div class="form-group">
            <label for="inputMatricula">Matrícula</label>
            <input type="text" class="form-control" name="matricula" id="inputMatricula" autofocus required>
        </div>
        <div class="form-group">
            <label for="inputSenha">Senha</label>
            <input type="password" class="form-control" name="senha" id="inputSenha">
        </div>
        <button class="btn btn-lg btn-danger btn-block" type="submit">Entrar</button>
        <p class="mt-2 text-right"><a class="text-decoration-none text-danger" href="/remember">Esqueci minha senha</a>
        </p>
        <footer class="text-muted text-center pt-3">&copy; 2019</footer>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>